@page
@model PeopleGen.Web.Pages.AllSpeciesModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

@*<h1>Welcome, You are a @Model.apiSpeciesModel.Name</h1>*@

<ul>
    @foreach (var s in Model.listOfApiSpecies)
    {
        <li>@s.Name</li>
    }
</ul>