@page "{id}"
@model PeopleGen.Web.Pages.BusinessDetailModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using PeopleGen.Core
@{
}


<h1>Welcome to the Business Page @Model.BusinessModel.BusinessName</h1>

