@page "{id}"
@model PeopleGen.Web.Pages.BusinessDetailModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using PeopleGen.Core
@{
}


<h1>Welcome to: @Model.BusinessModel.BusinessName Store</h1>


@if (Model.BusinessModel.Inventory != null || Model.BusinessModel.Inventory.Count == 0)
{

    <div class="table-responsive">
        <table class="table" style="background: rgba(78,78,78,0.2);">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Inventory i in Model.BusinessModel.Inventory)
                {
                    if (i.InventoryType.ToUpper() == Model.BusinessModel.BusinessType.ToUpper())
                    {
                        <tr>

                            <td>@i.InventoryName</td>
                            <td>@i.Price @i.MoneyType</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>



}

