@page
@model PeopleGen.Web.Pages.CreateCityModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@using PeopleGen.Core
@{
}

<h1>City Create</h1>
<form asp-page="/CreateCity" method="post">
    <label for="numToCreate">Population of the city</label>
    <select name="populationSize">
        <option value="tiny" selected="selected">Tiny village (~ 50 people)</option>
        <option value="small">small village (~ 300 people)</option>
        <option value="medium">medium village (~ 1000 people)</option>
        <option value="large"> City (~ 5000 people)</option>
        <option value="xLarge">Kingdom (~25000 people)</option>
    </select>
    <button>Submit</button>
</form>
