@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To world Generator</h1>
    <p>Please <a asp-page="/CreateCity">Click Here </a>below to create the first City.</p>
</div>
